.mainDiv{
    position: relative;
    border:solid red;

    left:117px;
    top: 91px;
    display: flex;
    flex-direction: column;
  
    
}

.main{

   display:flex;
   justify-content: flex-start;
    border: solid orange;
    width: 100%;
    height: fit-content;
    .graphs{
        height: 100%;
        width: fit-content;
        display:flex;
        flex-direction: column;
        .smallGraphs{
            display: flex;
            justify-content: space-between;
        }
    }
    .statZone{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}