.statCompDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FBFBFB;
    width: 17.92vw;
    height: 12.11vh;
    gap: 1.67vw;

    .text{
        .mesures{
            font-weight: bold;
            font-size: 20px;
            font-family: Roboto;
        }
    }
}