.containerDiv{
    position:absolute;
    width: 258px;
    height: 260px;
    top: 500px;
    left: 390px;
    height:260px;
  } 

    .container{
        border:solid red;

        
    }



   
.custom-tooltip .recharts-tooltip-cursor {
    display: none;
  }

  .remaining{ background-color: orange;
 height: 263px;}

 .rightDiv{
    position: absolute;
    background-color: green;
    height: 268px;
    right: 0;
 }

 .leftDiv{
    position: absolute;
    background-color: orange;
    height: 268px;
    left: 0;
 }