.polygonGraph{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 258px;
    height: 263px;
    top: 500px;
    left: 700px;
    background-color: #282D30;
   stroke: white;
.recharts-polar-grid{
    width: 156px;
    height: 180px;
}
tspan{
font-size: 12px;
}
   .angleAxis{
    stroke: transparent;
   }
   .keys{

   }
}