.polygonGraph{
    position: absolute;
    border: solid orange;
    width: 350px;
    top: 500px;
    left: 700px;
    background-color: #282D30;
   stroke: white;

   .angleAxis{
    stroke: transparent;
   }
}