.pieDiv{
 
    background-color:#FBFBFB;
    border:solid;


    width: 31%;
    height: 33.53vh;
    position: relative;
.title{
    position: absolute;
    top:30px;
    left:30px;
    font-size: 15px;
    font-weight: 500;
    color: #20253A;
    padding: 0;
}
    .pieContainer{
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    .whiteCircle{
        font-family: roboto;
position: absolute;
    background-color: white;
    width: 159px;
    height: 159px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .score{
        font-size: 26px;
        font-weight: bold;
        color: #282D30;
    }
    .text{
        font-size: 16px;
        font-weight: 400;
        color: #74798C;
        text-wrap: wrap;
        width: 40%;
    }
}

    }


    .recharts-pie-label-line {
        stroke: red; // Couleur de la bordure rouge
        stroke-width: 1px; // Épaisseur de la bordure
        stroke-dasharray: 4; // Style de la bordure (pointillés)
        rx: 5px; // Rayon de courbure horizontal
        ry: 5px; // Rayon de courbure vertical
      }

    }
