.ariaDiv{
    width: 31%;
    height: 25.68vh;
 
    position: relative;

    .txt{
      color: white;
      opacity: 50%;
      width:16.25vw;
      top: 30px;
      left: 2.167vw;
      position: absolute;
      text-wrap: wrap;

    }
  } 
  .custom-tooltip{
    background-color: white;
    color: black;
  }
  .recharts-tooltip-cursor{
    stroke: transparent;
  }
    .container{
        background-color: red;

        
    }



   
.custom-tooltip .recharts-tooltip-cursor {
    display: none;
  }



 .rightDiv{
    position: absolute;
    background-color: black;
    opacity: 0.1;

    right: 0;
 }

.areaChart{
margin-bottom: 30px;
}