.containerDiv{
    width: 258px;
    height:260px;
    position: relative;

    .txt{
      color: white;
      opacity: 50%;
      width: 150px;
      top: 30px;
      left: 20px;
      position: absolute;
      text-wrap: wrap;

    }
  } 
  .custom-tooltip{
    background-color: white;
    color: black;
  }
  .recharts-tooltip-cursor{
    stroke: transparent;
  }
    .container{
        background-color: red;

        
    }



   
.custom-tooltip .recharts-tooltip-cursor {
    display: none;
  }

  .remaining{ background-color: orange;
 height: 263px;}

 .rightDiv{
    position: absolute;
    background-color: black;
    opacity: 0.1;
    height: 268px;
    right: 0;
 }

