.leDiv{
    position:absolute;
    top : 5rem;
    left:10rem;
border:solid pink;
width: fit-content;
}


.recharts-cartesian-axis-tick-line{
    stroke:transparent
}

.recharts-cartesian-axis-line{
stroke:transparent;
}
.couou{
    color:red;
    border:solid green;
}