
.sideBarre{
    border:solid orange;

    background-color: black;
    width: 8.125vw;
    height: 91.11vh;
    display: flex;
    align-items: flex-end;
   
    &__wrapper{
        width: 100%;
        height: 66.6vh;
        background-color: black;

        border:solid red;
        display: flex;
        flex-direction: column;
        gap: 13.3vh;
        justify-content: space-between;
    &__nav{
        display: flex;
        flex-direction: column;
        gap:20px;

        align-items: center;


    &__logoContainer{
        background-color: white;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__logo{

        }
    }
    }
    &__textContainer{
      background-color: black;
        color:white;
        display: flex;
        flex-direction: column;
        writing-mode: vertical-rl; /* Orientation du texte de bas en haut */
        transform: rotate(180deg); /* Rotation des lettres */
      
     
        height: fit-content;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        line-height: 24px;

        padding-top:6.25vh;
        text-wrap: nowrap;

    }
}
}